@{
    ViewData["Title"] = "Home Page";
}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Welcome to Dereja.com !!!</h2>
            <p>Dereja.com is a site that allows you to rate, review and add services.</p><a asp-controller="User" asp-action="Login" class="btn btn-outline-light btn-lg">Click here to Login or register</a>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Features</h2>
                <p>You can do the following things with this website !!!</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="icon-star icon"></i>
                    <h4>Rate the service you received by any company.</h4>
                    <p><br>Rate the service you received !!<br><br><br></p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-pencil icon"></i>
                    <h4>Review the service in detail if you add the product for the first time or ..</h4>
                    <p><br>View all the other reviews before you decide on getting a service from a certain company.<br><br><br></p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-screen-smartphone icon"></i>
                    <h4>Comment</h4>
                    <p>comment and read other comments</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="icon-refresh icon"></i>
                    <h4>Blog for premeuim users</h4>
                    <p><br>You can even have your own blog to go in depth. But that is only for premium account holders.<br><br></p>
                </div>
            </div>
        </div>
    </section>
</main>